{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if is_granted("ROLE_ADMIN") %}

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit"
                   class="btn btn-lg btn-primary btn-block"
                   id="_submit"
                   name="_submit"
                   value="{{ 'change_password.submit'|trans }}"/>
        </div>

        {{ form_end(form) }}
    {% else %}
        <h3>U dient eerst als adminUser aanmelden!</h3>
    {% endif %}
{% endblock %}